*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.main
{
    width: 100%;
}
.content
{
    width: 80%;
    margin: 10% 10%;
}
.box-1
{
    width: 40%;
}
img
{
    width: 100%;
    float: left;
}
.form
{
   width: 50%;
   float: left;
}
input
{
    width: 50%;
    height: 30px;
    display: block;
}
.tri input
{
    height: 15px;
    width: 3%;
    display: inline;
}
a
{
    text-decoration: none;
}
button
{
   width: 50%;
   height: 35px;
   padding-left: 10px;
   background-color: rgb(118, 73, 175);  
   color: white;
}
.footer
{
 font-size: 30px;
 padding: 2%;
}
